.navig img {
    align-items  : center;
    text-align   : left;
    width        : 100px;
    height       : 100px;
    display      : block;
    margin-bottom: 35px;
    margin-top   : 50px;
    margin-left  : 25%;

}

.navig {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 250px;
    height          : 100%;
    background-color: lightblue;
    opacity         : .7;
    display         : block;
}

h1 {
    color    : darkblue;
    font-size: xx-large;
}

h1,
h2 {

    text-align: center;
    opacity   : .7;
}

nav.navig a {
    display    : block;
    margin-left: 10px;
    line-break : normal;
}

h2 img {
    width : 200px;
    height: 200px;
}

body p {
    font-size   : large;
    text-align  : left;
    margin-left : 250px;
    margin-right: 15px;
}

body h3 {
    font-size  : 26px;
    margin-left: 250px;
}

body {
    background-image: url(../FichierImages/Astro-background2.jpg);
    background-size : cover;
}

body img {
    width    : 100px;
    height   : 100px;
    transform: rotate(45deg);
}

body hr {
    margin-left: 250px;
    border     : 2px solid lightblue;
}

.navig hr {
    color: black;
}

ul li {
    margin-left: 250px;
    font-size  : large;
}

ul h4 caption {
    font-size  : large;
    margin-left: 250px;

}

h4 {
    margin-left: 250px;
}

form {
    margin-left: 250px;
}

.Requis {
    color      : blue;
    margin-left: 0px;
}

#Centered {
    margin-left: 250px;
}

td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin-left    : 250px;
    border         : 2px solid darkblue;
}

table>caption {
    caption-side: top;
    color       : darkblue;
    font-size   : 16px;
    font-weight : bolder;
    font-style  : italic;
    margin-left : 250px;

}

#topright{
    margin-left: 250px;
   
}
main p{
    font-size: large;
}